@charset "utf-8";

/*reset*/
html, body, div, span, a, img,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, iframe,form, fieldset, input, textarea, select, label, table, caption, th, tr, td, button { margin:0; padding:0;}
ul,ol,li {list-style:none;}
table, th, td{ border-collapse:collapse; }
table caption { font-size:0; line-height:0; text-indent:-9999px; font-size:0;}
legend { width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; visibility:hidden; }
img {border:0; vertical-align:middle;}
h1, h2, h3, h4, h5, h6, p {text-align:inherit;}
button{ cursor:pointer; background:none;}
input,select,button{vertical-align:middle;}


/* 링크 */
a{ text-decoration:none; color:inherit;}

/*form*/
input{vertical-align:middle;  font-size:1em;padding:0; margin:0;}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] { border:1px solid #ccc; height:38px; line-height:1; text-indent:10px;}
input:focus, textarea:focus{ border:1px solid #22917f; outline:none;}
input[type="checkbox"]{margin-right:8px;}
input[type="radio"]{margin-right:8px;}
input[type="submit"], button{ border:none; cursor:pointer; vertical-align:middle;}
input[type='submit']{-webkit-appearance:none;}
select{ border:1px solid #ccc; background:#fff; height:40px; line-height:1; vertical-align:middle; text-indent:10px; font-size:inherit; font-family:inherit; min-width:120px;padding:0; }
textarea{ width:100%; min-height:100px; font-family:inherit; padding:10px; box-sizing:border-box;border:1px solid #ccc; }

form input[type="text"],
form input[type="tel"],
form input[type="password"],
form input[type="email"],
form select{margin:3px 0;}

/* 폰트관련 */
html {font-size: 62.5%;} 
body { font-family:NBG, '맑은 고딕', 돋움, Dotum; font-size:16px; line-height:1.6; word-break:break-all; background-color:#fff;}


/*font-color*/
.fc-white {color:#fff !important;}
.fc-black {color:#000 !important;}
.fc-blue {color:#0084ff !important;}
.fc-red {color:#ed145b !important;}
.fc-orange {color:#f26522 !important;}
.fc-yellow {color:#ffde00 !important;}



/*텍스트정렬*/
.tac {text-align:center;}
.tal {text-align:left;}
.tar {text-align:right;}

/*폰트 굵기*/
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}

/*기타*/
.hidden{ position:absolute; text-indent:-9999px; font-size:0;}
.clb{ display:block; clear:both; padding:0; margin:0;}



